* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: #F2F2F2;
    background-image: url(./assets/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 5% 0;
    position: relative;
}

.cover-img-wrapper {
    position: absolute;
    right: 0;
    top: -30px;
}

.grid {
    width: 80%;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 60%;
}

.content-text h1 {
    font-family: IBM Plex Sans-m;
    font-size: 5vw;
    padding-bottom: 30px;
}

.content-text p {
    font-family: IBM Plex Sans-r;
}

.content-wrapper {
    margin: 200px 0px;
    height: 900px;
    display: flex;
    align-items: center;
    position: relative;
}

.content {
    width: 100%;
    height: 600px;
    background-color: #191826;
    background-image: url(./assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position-x: 35%;
    background-position-y: 35%
}

.img-mobile {
    width: 285px;
    position: absolute;
    top: -30px;
    left: 12%;
}