* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    padding: 5% 0;
    position: relative;
    background-color: #F2F2F2;
    background-image: url(./assets/images/bg-main-desktop.png);
    background-repeat: no-repeat;
}

.main .cover-img-wrapper {
    position: absolute;
    right: 0;
    top: -30px;
}

.main .grid {
    width: 73%;
}

.main .grid .content-text {
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 60%;
}

.main .grid .content-text h1 {
    font-family: IBM Plex Sans-m;
    font-size: 4.5vw;
    padding-bottom: 30px;
}

.main .grid .content-text p {
    font-family: IBM Plex Sans-r;
}

.main .grid .content-wrapper {
    margin: 150px 0px;
    height: 900px;
    display: flex;
    align-items: center;
    position: relative;
}

.main .grid .content-wrapper .content {
    width: 100%;
    height: 600px;
    background-color: #191826;
    background-image: url(./assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position-x: 35%;
    background-position-y: 35%
}

.img-mobile {
    width: 285px;
    position: absolute;
    top: -30px;
    left: 10%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    height: 550px;
    background-color: #FA7453;
    color: #F2F2F2;
    position: absolute;
    border-radius: 12px;
    right: 21%;
    bottom: 20px;
    padding: 55px;
    font-family: IBM Plex Sans-m;
}

.card p {
    margin: 40px 0px;
}

.card button {
    color: white;
    font-weight: bolder;
    border-radius: 12px;
    width: 100%;
    height: 60px;
    cursor: pointer;
    background-color: #191826;
    background-repeat: no-repeat;
    background-position: center;
}

.card .btn-ios {
    background-image: url(./assets/images/icon-apple.svg);
    background-position-x: 25%;
}

.card .btn-android {
    color: black;
    background-image: url(./assets/images/icon-android.svg);
    background-position-x: 20%;
    background-color: #FCFAF9;
}

.card .btn-ios:hover {
    background-color: #66E2DC;
}

.card .btn-android:hover {
    background-color: #FFB964;
}

.card .price h1 span {
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.footer p {
    max-width: 400px;
    font-family: IBM Plex Sans-m;
    margin: 10px 0px;
}

.footer .icon-group {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.footer .icon-group .icon-size {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.footer .icon-group .fb {
    background-image: url(./assets/images/icon-facebook.svg);
    background-repeat: no-repeat
}

.footer .icon-group .insta {
    background-image: url(./assets/images/icon-instagram.svg);
    background-repeat: no-repeat
}

.footer .icon-group .twiter {
    background-image: url(./assets/images/icon-twitter.svg);
    background-repeat: no-repeat
}

.footer .icon-group .icon-size:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}